<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="/css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
    <footer th:fragment="footer">
        <div id="Footer">

            <div id="PoweredBy">&nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a>
            </div>

            <div id="Banner">
                <div th:if="${session.account!=null}" th:utext="${session.account?.bannerName}">
                </div>
<!--                <c:if test="${sessionScope.account!=null}">-->
<!--                    ${sessionScope.account.bannerName}-->
<!--                </c:if>-->
            </div>
        </div>
    </footer>
</body>
</html>