<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm order</title>
    <link rel="StyleSheet" href="/css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<div th:replace="common/includeTop">
</div>

<div id="Content">
    <div id="BackLink">
        <a href="/catalog/main">
            Return to Main Menu
        </a>
    </div>

    <div id="Catalog">Please confirm the information below and then press continue...

        <table>
            <tr>
                <th align="center" colspan="2">
                    <font size="4">
                        <b>
                            Order
                        </b>
                    </font>
                    <br />
                    <font size="3">
                        <b th:text="${#dates.format(session.order.orderDate, 'yyyy/MM/dd hh:mm:ss')}">
<!--                        <fmt:formatDate value="${sessionScope.order.orderDate}" pattern="yyyy/MM/dd hh:mm:ss" />-->
                        </b>
                    </font>
                </th>
            </tr>

            <tr>
                <th colspan="2">Billing Address</th>
            </tr>
            <tr>
                <td>First name:</td>
                <td th:text="${session.order.billToFirstName}">
<!--                    <c:out value="${sessionScope.order.billToFirstName}" />-->
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td th:text="${session.order.billToLastName}">
<!--                    <c:out value="${sessionScope.order.billToLastName}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td th:text="${session.order.billAddress1}">
<!--                    <c:out value="${sessionScope.order.billAddress1}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td th:text="${session.order.billAddress2}">
<!--                    <c:out value="${sessionScope.order.billAddress2}" />-->
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td th:text="${session.order.billCity}">
<!--                    <c:out value="${sessionScope.order.billCity}" />-->
                </td>
            </tr>
            <tr>
                <td>State:</td>
                <td th:text="${session.order.billState}">
<!--                    <c:out value="${sessionScope.order.billState}" />-->
                </td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td th:text="${session.order.billZip}">
<!--                    <c:out value="${sessionScope.order.billZip}" />-->
                </td>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="${session.order.billCountry}">
<!--                    <c:out value="${sessionScope.order.billCountry}" />-->
                </td>
            </tr>
            <tr>
                <th colspan="2">Shipping Address</th>
            </tr>
            <tr>
                <td>First name:</td>
                <td th:text="${session.order.shipToFirstName}">
<!--                    <c:out value="${sessionScope.order.shipToFirstName}" />-->
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td th:text="${session.order.shipToLastName}">
<!--                    <c:out value="${sessionScope.order.shipToLastName}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td th:text="${session.order.shipAddress1}">
<!--                    <c:out value="${sessionScope.order.shipAddress1}" />-->
                </td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td th:text="${session.order.shipAddress2}">
<!--                    <c:out value="${sessionScope.order.shipAddress2}" />-->
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td th:text="${session.order.shipCity}">
<!--                    <c:out value="${sessionScope.order.shipCity}" />-->
                </td>
            </tr>
            <tr>
                <td>State:</td>
                <td th:text="${session.order.shipState}">
<!--                    <c:out value="${sessionScope.order.shipState}" />-->
                </td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td th:text="${session.order.shipZip}">
<!--                    <c:out value="${sessionScope.order.shipZip}" />-->
                </td>
            </tr>
            <tr>
                <td>Country:</td>
                <td th:text="${session.order.shipCountry}">
<!--                    <c:out value="${sessionScope.order.shipCountry}" />-->
                </td>
            </tr>

        </table>
        <a class="Button" href="/order/confirmOrder">Confirm</a>
    </div>

</div>

<div th:replace="common/includeBottom">
</div>
</body>
</html>