<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Order List</title>
    <link rel="StyleSheet" href="/css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<div th:replace="common/includeTop">
</div>
<div id="Content">
    <h2>My Orders</h2>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>

        <tr th:each="order:${session.orderList}">
            <td>
                <a th:href="@{/order/viewOrder(orderId=${order.orderId})}" th:text="${order.orderId}"></a>
            </td>
            <td th:text="${#dates.format(order.orderDate, 'yyyy/MM/dd')}">
            </td>
            <td th:text="${#numbers.formatDecimal(order.totalPrice, 1, 2)}">
            </td>
        </tr>
    </table>

</div>

<div th:replace="common/includeBottom">
</div>
</body>
</html>