<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="StyleSheet" href="/css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<div th:replace="common/includeTop"></div>

<div id="Content">
    <div id="BackLink">
        <a href="/catalog/main">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <table>
            <tr>
                <th>&nbsp;</th>
                <th>Product ID</th>
                <th>Name</th>
            </tr>
            <tr th:each="product:${productList}">
                <td>
                    <a th:href="@{/catalog/Product(productId=${product.productId})}" th:utext="${product.description}"></a>
                </td>
                <td>
                    <b>
                        <a th:href="@{/catalog/Product(productId=${product.productId})}">
                            <font color="black" th:text="${product.productId}">
                            </font>
                        </a>
                    </b>
                </td>
                <td th:text="${product.name}">
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

</div>

<div th:replace="common/includeBottom"></div>
</body>
</html>