<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditAccount</title>
    <link rel="StyleSheet" href="/css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<div th:replace="common/includeTop"></div>
<div id="Content">

    <div id="Catalog">
        <form action="/account/confirmEdit" method="post">
            <h3>User Information</h3>

            <table>
                <tr>
                    <td>User ID:</td>
                    <td th:text="${session.account.username}"></td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="text"  name="password" /></td>
                </tr>
                <tr>
                    <td>Repeat password:</td>
                    <td><input type="text"  name="repeatedPassword" /></td>
                </tr>
            </table>
            <h3>Account Information</h3>
            <table th:replace="account/IncludeAccountFields::accountTable"></table>
            <h3 th:replace="account/IncludeAccountFields::h3"></h3>
            <table th:replace="account/IncludeAccountFields::profileTable"></table>

            <input type="submit" name="editAccount" value="Save Account Information" />
        </form>
        <a th:href="@{/order/viewListOrder(username=${session.account.username})}">My Order</a>
    </div>

</div>
<div th:replace="common/includeBottom"></div>
</body>
</html>