<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csuse.jpetstoressm.persistence.ProductMapper">


    <select id="getProductListByCategory" parameterType="string" resultType="com.csuse.jpetstoressm.domain.Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN as description,
            CATEGORY as categoryId
        FROM PRODUCT
        WHERE CATEGORY = #{value}
    </select>

    <select id="getProduct" parameterType="string" resultType="com.csuse.jpetstoressm.domain.Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN as description,
            CATEGORY as categoryId
        FROM PRODUCT
        WHERE PRODUCTID = #{productId}
    </select>

    <select id="searchProductList" parameterType="string" resultType="com.csuse.jpetstoressm.domain.Product">
        SELECT
            PRODUCTID,
            NAME,
            DESCN as description,
            CATEGORY as categoryId
        FROM PRODUCT
        WHERE lower(name) like #{value}
    </select>

</mapper>